.Cols {
    display: flex;
}

.App-header{
  text-align: center;
  margin-top: 2vmin;
}

.Review {
  width: 80vmin;
  height: 20vmin;
  resize: none;
}

.Rating {
  margin-left: 2vmin;
  font-size: 3vmin;
}

.Flex-center {
  display: flex;
  align-items: center;
}

.Error-text {
  background-color: #ffc7cd;
  color: #9c0007;
  padding: 1vmin;
  border-radius: 0.5vmin;
}

h5 {
  color: gray !important;
  margin: 0 !important;
}

textarea {
  resize: none !important;
  width: 90vmin !important;
  height: 20vmin !important;
}


